html, body {
    overflow-x: hidden;
}
.preloaderCircle {
    width: 100px;
    height: auto;
}

.preloader {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999999;
}